---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=<appid>&lat=48.87&lon=2.88
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":2.88,"lat":48.87},"list":[{"main":{"aqi":1},"components":{"co":211.95,"no":0.09,"no2":6.17,"o3":57.94,"so2":1.43,"pm2_5":2.25,"pm10":2.95,"nh3":0.56},"dt":1668600475}]}'
  recorded_at: Wed, 16 Nov 2022 12:07:55 GMT
recorded_with: VCR 6.1.0
